@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Roboto;
}

.header {
    width: 100%;
    height: 90vh;
    background: url(Images/banner-img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.698);
}

.main-navbar {
    width: 100%;
    height: 60px;
    z-index: 5;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main-navbar .img-link {
    display: inline-block;
    margin-left: 7%;
}

.main-navbar ul {
    display: flex;
    align-items: center;
}

.main-navbar ul li a {
    color: white;
    margin-right: 30px;
    font-size: 14px;

}

.main-navbar ul li a:hover {
    color: rgba(255, 255, 255, 0.808);
}

.main-navbar a.btn {
    background: #e61f5b;
    padding: 10px 18px;
    border-radius: 20px;
    margin-right: 60px;
}

.main-navbar a.btn:hover {
    color: white;
    background: #e60e4fe8;
}

.banner {
    width: 100%;
    padding-top: 220px;
    color: white;
    text-align: center;
    position: relative;
}

.banner h1 {
    font-size: 48px;
}

.banner p {
    font-size: 20px;
    margin: 20px 20px 60px 20px;
    color: rgba(255, 255, 255, 0.753);
}

.banner a.btn {
    text-align: center;
    padding: 12px 22px;
    background: #e61f5b;
    border-radius: 35px;
    color: white;
}

.banner a.btn:hover {
    background: #e61f5bd2;
}

.main {
    width: 100%;
    text-align: center;
    padding: 40px 0px;
}

.main h2 {
    font-size: 32px;
    font-weight: lighter;
    margin: 20px 0px;
}

.card-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 350px;
    height: 400px;
    min-width: 350px;
    min-height: 400px;
    border-radius: 8px;
    margin: 0px 10px;
    background: whitesmoke;
    border: 2px solid whitesmoke;
    transition: all 0.2s ease;
}

.card:hover {
    border: 2px solid #e61f5b;
    cursor: pointer;
}

.card:hover .lower-part h2 {
    color: #e61f5b;
}

.card .upper-part {
    width: 100%;
    height: 180px;
}

.upper-part img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    object-fit: cover;
}

.card .lower-part h2 {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.863);
    margin: 12px;
    text-transform: capitalize;
    font-weight: bold;
}

.card .lower-part p {
    color: rgba(0, 0, 0, 0.582);
    font-size: 14px;
    text-transform: capitalize;
    margin: 0px 15px;
}

.card .lower-part {
    position: relative;
    width: 100%;
    height: 220px;
    text-align: center;
}

.card-footer {
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 100%;
}

.card-footer>.details {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-footer img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 10px;
}

.card-footer .name {
    display: inline-block;
}

.card-footer .price {
    margin-left: auto;
    margin-right: 20px;
    font-weight: bold;
    color: rgb(224, 20, 71);
}


.main a.btn {
    margin-top: 40px;
    padding: 18px 30px;
    font-size: 13px;
    color: white;
    background: #e61f5b;
    display: inline-block;
    border-radius: 30px;
}

.main a.btn:hover {
    background: #ce1c52;
}

.footer {
    width: 100%;
    height: 140px;
    background-color: #2b3636;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    align-items: flex-start;
    text-align: center;
    padding-top: 40px;
    color: #bbb;
}

.footer ul li a {
    font-size: 14px;
    color: #bbb;
}

.footer ul li a:hover {
    color: white;
}
.footer p {
    margin-left: 40px;
}

span.menu-bar .fas {
    color: white;
    font-size: 24px;
    position: absolute;
    right: 60px;
    top: 16px;
    display: none;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

/* responsiveness begins here */

@media screen and (max-width: 1200px) {
    .main-navbar .img-link {
        margin-left: 60px;
    }

    .main-navbar a.btn {
        margin-right: 100px;
    }

}

@media screen and (max-width: 1200px) {
    .card {
        min-width: 300px;
        width: 300px;

    }

    .card .lower-part h2 {
        margin: 12px 22px;
    }

}

@media screen and (max-width: 991px) {
    .card-wrapper {
        max-width: 760px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
    }

    .card {
        min-width: 350px;
        min-height: 400px;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 768px) {
    span.menu-bar .fas{
        display: block;
    }
   
    .main-navbar ul {
        position: absolute;
        top: 60px;
        width: 100%;
        height: 80px;
        display: none;
        flex-direction: column;
    }

    input[type="checkbox"]:checked~ul {
        display: block;
    }

    .main-navbar ul a.btn {
        background: #2b3636;
        border-radius: 0px;
        height: 60px;
        line-height: 60px;
        padding: 0;
        padding-left: 12px;
    }

    .main-navbar ul a.btn:hover {
        background: rgba(0, 0, 0, 0.972);
    }

    .main-navbar ul li {
        margin: 0px;
        padding-right: -60px;
        height: 50px;
        width: 100%;
        display: block;
    }

    .main-navbar ul li a {
        width: 100%;
        margin-right: 0px;
        display: block;
        line-height: 50px;
        padding-left: 12px;
        background: #2b3636;
    }

    .main-navbar ul li a:hover {
        background: rgba(0, 0, 0, 0.972);
    }

    span.menu-bar .fas {
        display: block;
    }

    .card-wrapper {
        width: 100%;
        flex-direction: column;
        padding: 20px;
    }

    .card {
        width: 80%;
        min-width: 100%;
        min-height: 600px;
        margin-bottom: 30px;
    }

    .card .upper-part {
        width: 100%;
        height: 300px;
    }

    .card .lower-part {
        width: 100%;
        height: 300px;
    }

    .footer {
        grid-template-columns: 1fr;
        justify-content: center;
        height: auto;
        grid-row-gap: 30px;
        padding-bottom: 40px;
    }

}